:root {
  --bgColor: rgba(157, 205, 0, 0.843);
  --textColor: rgba(254, 254, 255, 0.758);
  --input-border-bottom-color: rgba(128, 0, 128, 0.758);
  --boxShadow: 1px 3px 6px gray;
  --inputBoxShadow: 1px 2px 5px rgba(0, 0, 0, 0.6);
}
.registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 45%;
  margin: 50px auto;
  background-color: var(--bgColor);
  border: none;
  box-shadow: var(--boxShadow);
  padding: 10px;
  border-radius: 5px;
}
.line {
  width: 90%;
  height: 30px;
  margin: 5px auto;
  /* top right bottom left */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.hrLine {
  border: none;
  border-top: 1px solid var(--textColor);
  width: 100%;
}
.mailWrapper {
  height: 75px;
}
span {
  width: 100px;
  height: inherit;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--textColor);
}
.wrapper {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin-left: 30px;
}
.mailSection {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
input {
  height: 30px;
  width: 170px;
  border: none;
  border-bottom: 2px solid var(--input-border-bottom-color);
  box-shadow: var(--inputBoxShadow);
  border-radius: 5px;
}
::placeholder {
  padding-left: 10px;
  color: var(--input-border-bottom-color);
}
